.navbar {
  background: #111;
  color: #fff;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

 .navbar ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

.navbar a {
  color: #00eaff;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #ff3ec9;
}
